{% extends 'base.html'%}

{%block head%}
<title>Home</title>
{%endblock%}

{%block body%}
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>도서 추천 챗봇: 레꼬북</h1>
            <p>사용자가 원하는 도서를 알맞게 추천해주는 인공지능 기반 챗봇, 레꼬북입니다&#x1F60A;
                <!-- <a href="/docs/5.0/examples/navbar-static/">top</a> and <a
                    href="/docs/5.0/examples/navbar-fixed/">fixed top</a> examples.</p> -->
            <p></p>
            <p>
                <a class="btn btn-primary" href="/bookcode" role="button">시작하기
                    &raquo;</a>
            </p>
        </div>
    </div>
</div>
{%endblock%}